.pi {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.caption {
  margin: 24px 0 16px;

}

.content {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.disabled:hover {
  border-color: transparent !important;
  cursor: default;
}

div {
  color: #1a1e25;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}